retrieve_from_dynamo/.venv
retrieve_from_dynamo/__pycache__
retrieve_from_dynamo/bin/
retrieve_from_dynamo/boto3/
retrieve_from_dynamo/boto3-1.26.93.dist-info/
retrieve_from_dynamo/botocore-1.29.93.dist-info/
retrieve_from_dynamo/botocore/
retrieve_from_dynamo/dateutil/
retrieve_from_dynamo/jmespath/
retrieve_from_dynamo/jmespath-1.0.1.dist-info/
retrieve_from_dynamo/python_dateutil-2.8.2.dist-info/
retrieve_from_dynamo/s3transfer/
retrieve_from_dynamo/s3transfer-0.6.0.dist-info/
retrieve_from_dynamo/six-1.16.0.dist-info/
retrieve_from_dynamo/urllib3/
retrieve_from_dynamo/urllib3-1.26.15.dist-info/
retrieve_from_dynamo/six.py
retrieve_from_dynamo/*.zip

send_to_dynamo/.venv
send_to_dynamo/__pycache__
send_to_dynamo/bin/
send_to_dynamo/boto3/
send_to_dynamo/boto3-1.26.93.dist-info/
send_to_dynamo/botocore-1.29.93.dist-info/
send_to_dynamo/botocore/
send_to_dynamo/dateutil/
send_to_dynamo/jmespath/
send_to_dynamo/jmespath-1.0.1.dist-info/
send_to_dynamo/python_dateutil-2.8.2.dist-info/
send_to_dynamo/s3transfer/
send_to_dynamo/s3transfer-0.6.0.dist-info/
send_to_dynamo/six-1.16.0.dist-info/
send_to_dynamo/urllib3/
send_to_dynamo/urllib3-1.26.15.dist-info/
send_to_dynamo/six.py
send_to_dynamo/*.zip
